body {
  background-color: rgb(248, 243, 243);
}

h1 {
  text-align: center;
  margin: 10vh 0 0 0;
  font-family: 'Times New Roman', Times, serif ;
  font-size: 3rem;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.center {
  display: block;
  justify-content: center;
  align-items: center;
}

table {
  table-layout: auto;
  margin: 20px auto;
  border-style: solid;
  
}

table.list {
  font-family: cursive ;
  text-align: center;
  width: 100%;
  background: #a0c1c0;
  
}

td {
  border: 1px  rgb(204, 200, 200);
  text-align: left;
  padding: 8px 15px;
  background-color: rgb(239, 201, 182);
}

tr:nth-child(even),
table.list thread > tr {
  background-color: #d0f1bf;
}

input[type="text"] {
  width: 90%;
  padding: 10px 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  border-color: black;
  border-radius: 6px;
}

input[type="submit"],
input[type="reset"] {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: #1c2541;
  border-radius: 1.5cm;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background: #8271a1;
}

input[type="submit"],
input[type="reset"] {
  background: #17d9d6;
  color: black;
  font-size: 1.2rem;
  font-family: cursive;
}

tbody {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-part {
  font-family: cursive;
  font-size: 1.5rem;
}

button {
  background: #0a3b1e;
  color: white;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}
